LWA_CLIENT_ID=amzn1.application-oa2-client.xxxxxxxxxxxxxxxxx
LWA_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LWA_REFRESH_TOKEN=Atzr|xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

JWT_SECRET=replace-with-a-32-plus-character-secret-value

AWS_ACCESS_KEY=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_IAM_ROLE_ARN=arn:aws:iam::401238232954:role/SellingPartnerAPIRole

# Selling Partner API Region and endpoint details
AWS_REGION=eu-west-1
SP_API_ENDPOINT=https://sellingpartnerapi-eu.amazon.com

SELLER_ID=A60NSYSX596X5
MARKETPLACE_ID=A21TJRUUN4KGV
